ion-item {
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

ion-button {
  --background: #6B0F6D;
  --background-hover: #9C2A9D;
  --background-focused: #5A0C59;
  --background-activated: #4C0A48;
  --border-radius: 20px;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 1rem;
  transition: transform 0.2s, box-shadow 0.2s;
  min-height: 187px;
}

.card__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
