<div class="order-list" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
  <ion-list>
    <ion-item *ngIf="orders.length === 0" lines="none">
      <ion-label><em>Nenhum pedido em {{ title.toLowerCase() }}</em></ion-label>
    </ion-item >
    <ion-item
      *ngFor="let order of orders"
      class="card"
      [draggable]="true"
      (dragstart)="onDragStart($event, order)"
      lines="none"
      >
      <ion-label class="card__container">
        <p><strong>Nome do cliente:</strong> {{ order.customerName }}</p>
        <p><strong>Descrição do pedido:</strong> {{ order.description }}</p>
        <p><strong>Data/Horário de criação:</strong> {{ order.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
        <div class="card__button-container" *ngIf="title !== 'Concluído'">
          <ion-button class="card__button" (click)="changeStatus(order, nextStatus(title))">
            Mover para {{ nextStatus(title) }}
          </ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
