<ion-content>
  <ion-button class="register-order__button" expand="block" [routerLink]="'/order-form'">
    Cadastrar Novo Pedido
  </ion-button>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" class="column">
        <h2 class="column__title">Novo</h2>
        <app-order-list
          title="Novo"
          [orders]="newOrders"
          (statusChange)="updateStatus($event.order, $event.newStatus)"
          (drop)="onDrop($event.event, 'Novo')">
        </app-order-list>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4" class="column">
        <h2 class="column__title">Em Andamento</h2>
        <app-order-list
          title="Em Andamento"
          [orders]="inProgressOrders"
          (statusChange)="updateStatus($event.order, $event.newStatus)"
          (drop)="onDrop($event.event, 'Em Andamento')">
        </app-order-list>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4" class="column">
        <h2 class="column__title">Concluído</h2>
        <app-order-list
          title="Concluído"
          [orders]="completedOrders"
          (statusChange)="updateStatus($event.order, $event.newStatus)"
          (drop)="onDrop($event.event, 'Concluído')">
        </app-order-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
