ion-header {
  --background: #6B0F6D;
}

ion-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.header-logo {
  max-width: 100%;
  height: auto;
  max-height: 50px;
}

.column__title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #6B0F6D;
  margin-bottom: 1rem;
}

ion-button {
  --background: #6B0F6D;
  --background-hover: #9C2A9D;
  --background-focused: #5A0C59;
  --background-activated: #4C0A48;
  --border-radius: 20px;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
}

.column {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

ion-grid {
  --ion-grid-padding: 0;
}

ion-col {
  margin-bottom: 1rem;
}
